.container1 {
  margin-bottom: 100px;
}

.title {
  text-align: center;
}

.box-container {
  display: flex;
  justify-content: center;
}

.box {
  width: 200px;
  border: 50px solid red;
  padding: 50px;
  margin: 20px;
}

.box.green {
  border: 50px solid green;
}

.box.blue {
  border: 50px solid blue;
}

.text-box {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.challenge2 {
  border: 1px solid black;
  padding: 0 50px;
  margin: 20px;
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.challenge2-title {
  text-align: center;
  color: #9b59b6;
}

.challenge2-title::before {
  content: "Topic : ";
}

.sub-header {
  color: #2980b9;
}

.challenge2 > p {
  font-size: 16px;
  font-family: Verdana;
  font-style: italic;
}

.challenge2 > p::first-letter {
  font-size: 200%;
  color: #2980b9;
}
